.card {
  overflow: hidden;
  background-color: #000000a6;
  display: flex;
  gap: 20px;
  width: 454px;
  color: #ffffff;
  height: 285px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 2px #000000a6;
}
.content_half {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 5px;
}
.poster {
  width: 183px;
  height: 285px;
}
.title {
  width: 75%;
  font-size: 16px;
}
.red {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #e90000;
}
.orange {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #e97e00;
}
.yellow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
}
.green {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid #66e900;
}

.date {
  font-size: 12px;
}
.genres {
  display: flex;
  flex-direction: row;
  gap: 8px;
  flex-wrap: wrap;
}
.genre {
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: rgb(24, 144, 255);
}
.description {
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 228px;
  height: 114px;
  font-size: 12px;
  line-height: 2;
}
.stars {
  position: absolute;
  bottom: 20px;
}
/* Стилизация полосы прокрутки */
.description::-webkit-scrollbar {
  width: 3px; /* ширина полосы прокрутки */
}

.description::-webkit-scrollbar-thumb {
  background-color: rgb(43, 41, 41); /* цвет полосы прокрутки */
  border-radius: 3px;
}

.description::-webkit-scrollbar-track {
  background: #00000000; /* цвет фона полосы прокрутки */
  border-radius: 2px;
}
