.card {
  overflow: hidden;
  background-color: #000000a6;
  display: flex;
  gap: 20px;
  width: 454px;
  color: #ffffff;
  height: 285px;
  border-radius: 10px;
}
.content_half {
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 7px;
}
.poster {
  width: 183px;
  height: 285px;
}
.title {
  width: 75%;
  font-size: 16px;
  padding-bottom: 8px;
}
.rank {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 10px;
  top: 10px;
  font-size: 12px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 2px solid rgb(233, 209, 0);
}
.date {
  font-size: 12px;
}
.genres {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.genre {
  font-size: 12px;
  padding: 3px 5px;
  border-radius: 2px;
  background-color: rgb(24, 144, 255);
}
.description {
  padding-right: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 228px;
  height: 121px;
  font-size: 12px;
  line-height: 2;
}

/* Стилизация полосы прокрутки */
.description::-webkit-scrollbar {
  width: 3px; /* ширина полосы прокрутки */
}

.description::-webkit-scrollbar-thumb {
  background-color: rgb(43, 41, 41); /* цвет полосы прокрутки */
  border-radius: 3px;
}

.description::-webkit-scrollbar-track {
  background: #00000000; /* цвет фона полосы прокрутки */
  border-radius: 2px;
}
.alert {
  position: absolute;
  top: 40%;
}
