.movielist {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-self: center;
  width: 950px;
  row-gap: 40px;
  column-gap: 35px;
  padding-bottom: 30px;
}
.alert {
  position: absolute;
  top: 40%;
}
.pagination {
  width: 100%;
  justify-content: center;
}
.hide {
  display: none;
}
