body {
  background-color: #33333c;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
:where(.css-dev-only-do-not-override-x19ide).ant-pagination .ant-pagination-item-active a {
  color: #ffffff;
  font-weight: normal;
}
